.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color:aliceblue
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.footer a{
    color: aliceblue;
}